  .contactoCaja {
      display: flex;
      justify-content: space-around;

      .cajaFormulario {
          background-color: #989179;

          .formulario {
              padding: 1.5rem;
              width: 100%;

              .etiquetaFormulario {
                  display: block;
              }

              input {
                  width: 100%;
                  height: 2rem;

                  &:focus {
                      color: black;
                      background-color: #CFCF24;
                  }
              }

              textarea {
                  width: 100%;

                  &:focus {
                      color: black;
                      background-color: #CFCF24;
                  }
              }

              .botones {
                  display: flex;
              }

              .botonesA {
                  padding: 0.4rem;
                  height: 3rem;
                  color: black;
                  background-color: #CFCF24;
                  border: black solid 1px;
                  border-radius: 50px;
                  font-size: 1.2rem;
                  cursor: pointer;

                  &:hover {
                      background-color: black;
                      border: #CFCF24 solid 1px;
                      color: #CFCF24;
                  }
              }

              .botonesB {
                  height: 3rem;
                  margin-right: 2rem;
                  margin-left: 2.5rem;
                  padding: 0.4rem;
                  color: black;
                  background-color: #CFCF24;
                  border: black solid 1px;
                  border-radius: 50px;
                  font-size: 1.2rem;
                  cursor: pointer;

                  &:hover {
                      background-color: black;
                      border: #CFCF24 solid 1px;
                      color: #CFCF24;
                  }
              }
          }
          .mapa iframe {
            height: 30rem;
            width: 100%;
        }
      }
  }








